<a href="https://colab.research.google.com/github/dbizzaro/Minesweeper/blob/main/Minesweeper_with_SATsolver.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Minesweeper

A project by **Davide Bizzaro**, mat. **2038517**, for the course *Knowledge and data mining*, at Unipd 2021/2022.

In [ ]:
!pip install python-sat[pblib,aiger]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: python-sat[aiger,pblib] in /usr/local/lib/python3.7/dist-packages (0.1.7.dev19)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from python-sat[aiger,pblib]) (1.15.0)
Requirement already satisfied: py-aiger-cnf>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from python-sat[aiger,pblib]) (5.0.4)
Requirement already satisfied: pypblib>=0.0.3 in /usr/local/lib/python3.7/dist-packages (from python-sat[aiger,pblib]) (0.0.4)
Requirement already satisfied: py-aiger<7.0.0,>=6.0.0 in /usr/local/lib/python3.7/dist-packages (from py-aiger-cnf>=2.0.0->python-sat[aiger,pblib]) (6.1.23)
Requirement already satisfied: funcy<2.0,>=1.12 in /usr/local/lib/python3.7/dist-packages (from py-aiger-cnf>=2.0.0->python-sat[aiger,pblib]) (1.17)
Requirement already satisfied: bidict<0.22.0,>=0.21.0 in /usr/local/lib/python3.7/dist-packages (from py-aiger-cnf>=2.0.0->python-sat[aiger,pblib]) (0.21.4)
Requirement already satisfied: sortedcontainers<3.0.0,>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from py-aiger<7.0.0,>=6.0.0->py-aiger-cnf>=2.0.0->python-sat[aiger,pblib]) (2.4.0)
Requirement already satisfied: toposort<2.0,>=1.5 in /usr/local/lib/python3.7/dist-packages (from py-aiger<7.0.0,>=6.0.0->py-aiger-cnf>=2.0.0->python-sat[aiger,pblib]) (1.7)
Requirement already satisfied: attrs<22,>=21 in /usr/local/lib/python3.7/dist-packages (from py-aiger<7.0.0,>=6.0.0->py-aiger-cnf>=2.0.0->python-sat[aiger,pblib]) (21.4.0)
Requirement already satisfied: parsimonious<0.9.0,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from py-aiger<7.0.0,>=6.0.0->py-aiger-cnf>=2.0.0->python-sat[aiger,pblib]) (0.8.1)
Requirement already satisfied: pyrsistent<0.19.0,>=0.18.0 in /usr/local/lib/python3.7/dist-packages (from py-aiger<7.0.0,>=6.0.0->py-aiger-cnf>=2.0.0->python-sat[aiger,pblib]) (0.18.1)

In [ ]:
from pysat.card import CardEnc
from pysat.solvers import Minisat22
import numpy as np
import pandas as pd
from itertools import combinations
from scipy.special import binom
from time import process_time

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

### Class for game handling

The following class comprises all that concerns the game but not the solver.

If you don't know the game, see [en.wikipedia.org/wiki/Minesweeper_(video_game)](en.wikipedia.org/wiki/Minesweeper_(video_game)).

In [ ]:
class Board:
  '''
  Objects of this class summarize game board (e.g. where the mines are placed) and game status (e.g. which cells have been revealed, and what number is in them).
  
  Attributes:
  - n_rows: number of rows
  - n_cols: number of columns
  - n_mines: number of mines
  - board: array (of shape  n_rows x n_cols) filled with integers:
      - -1 represents general covered cells
      - -2 represent covered cells where the solver thinks there are mines
      - non-negative numbers represents revealed cells, where the number is the number of mines in the adjacent cells
  - mines: set of positions -of the form (row,col)- where the mines lie. Its kept private (so it's sure the solver has no direct access to it) and initialized randomly
  '''
  
  def __init__(self, n_rows, n_cols, n_mines, seed=None):
    self.n_rows = n_rows
    self.n_cols = n_cols
    self.n_mines = n_mines
    self.board = np.full((n_rows, n_cols), -1, dtype='short')
    self.__mines = set()
    np.random.seed(seed)
    placed = 0
    while (placed < n_mines):
      row = np.random.randint(0,n_rows)
      col = np.random.randint(0,n_cols)
      if ((row,col) not in self.__mines):
        self.__mines.add((row,col))
        placed += 1

  def adjacent_cells(self, position, only_among_still_covered=True):
    '''
    returns the list of the covered cells adjacent to that given as argument.
    If only_among_still_covered is set to False, then it returns the list of all the adjacent cells, not just the covered ones
    '''
    adj = []
    for x in range(position[0]-1, position[0]+2):
        for y in range(position[1]-1, position[1]+2):
            if (x>=0 and y>=0 and x<self.n_rows and y<self.n_cols and (x, y) != position):
              if ((not only_among_still_covered) or self.board[x,y]<0):
                adj.append((x,y))
    return adj

  def n_adjacent_mines(self, position):
    '''
    returns the number of mines in cells adjacent to the given position
    '''
    adj = self.adjacent_cells(position)
    n = 0
    for pos in adj:
      if (pos in self.__mines):
        n += 1
    return n

  def n_observed_cells(self):
    '''
    returns the number of visited cells (those containing the non negative number of neighboring mines)
    '''
    return (self.board >= 0).sum()

  def check_victory(self):
    '''
    returns true if you have won the game (i.e. observed all the cells without mines)
    '''
    if (self.n_observed_cells() == self.n_rows * self.n_cols - self.n_mines):
      return True
    return False

  def randomly_fill_in(self, n_observed, seed=None):
    '''
    fills in n_observed cells (without mines), at random position, with the correct number. 
    it should be used just once per board, when you do not want to start with an all-covered board.
    '''
    np.random.seed(seed)
    observed = 0
    assert 0 <= n_observed <= self.n_rows * self.n_cols - self.n_mines, "you are requiring to fill in a wrong number of cells"
    while (observed < n_observed):
      row = np.random.randint(0,self.n_rows)
      col = np.random.randint(0,self.n_cols)
      if (self.board[row,col] < 0 and ((row,col) not in self.__mines)):
        self.board[row,col] = self.n_adjacent_mines((row, col))
        observed += 1
  
  def show(self, display_mines=False, explosion_at=None):
    '''
    method for printing the board, with or without the indication of the mines
    it is also possible to indicate on the board the position of an exploded mine that caused a game over
    '''
    df = pd.DataFrame(self.board, dtype='object')
    df = df.replace(-1, '').replace(-2, 'ðŸš©')
    if display_mines:
      for pos in self.__mines:
        df.iloc[pos] = 'ðŸ’£'
      if (explosion_at in self.__mines):
        df.iloc[explosion_at] = 'ðŸ’¥'
    df.style
    display(df)

  def still_covered_cells(self, separate_cells_with_an_uncovered_neighbor=False):
    '''
    returns the list of all the covered cells (those without numbers appearing on the displayed board)
    if separate_cells_with_an_uncovered_neighbor is set to true, then it returns instead two lists:
      - the list of covered cells adjacent to at least one cell that has been revealed
      - the list of all the other covered cells (those not adjacent to any revealed cell)
    ''' # I could have written two separate methods, but it is not important
    covered_cells_with_an_uncovered_neighbor = []
    covered_cells_without_an_uncovered_neighbor = []
    covered_cells = []
    for row in range(self.n_rows):
      for col in range(self.n_cols):
        if (self.board[row,col] < 0):
          if not separate_cells_with_an_uncovered_neighbor:
            covered_cells.append((row,col))
          elif len(self.adjacent_cells((row, col), True))!=len(self.adjacent_cells((row, col), False)):
            covered_cells_with_an_uncovered_neighbor.append((row, col))
          else:
            covered_cells_without_an_uncovered_neighbor.append((row, col))
    if not separate_cells_with_an_uncovered_neighbor:
      return covered_cells
    return covered_cells_with_an_uncovered_neighbor, covered_cells_without_an_uncovered_neighbor

  def reveal_position(self, position, verbosity=2):
    '''
    this method represents the response of the game at the choice of a cell to be revealed.
    if the cell contains a mine, then it returns -2, indicating game over
    if the cell is sound and does not contain a mine, then it returns the non-negative number of mines in adjacent cells, which is also set to be shown on the board from now on
    - use verbosity = 0 when you don't want any output at all
    - use verbosity > 0 when you want to output what is going on (but without displaying the board if it is not game over)
    '''
    n_adj_mines = self.n_adjacent_mines(position)
    if (position in self.__mines):
      if verbosity > 0:
        print("BOOM! Exploded mine in position {}.". format(position))
        self.show(True, position)
      return -2
    if (self.board[position] < 0):
      self.board[position] = n_adj_mines
      if verbosity > 0:
        print("Revealed position {}, which has {} neighboring mines.".format(position, n_adj_mines))
      return n_adj_mines
    print('Invalid position')
    return -3

### Functions for game solving

We use MiniSat 2.2 in order to produce an algorithm for solving the game.

We consider propositional variables $X_{ij}$ saying "in position $(i,j)$ there is a mine". As we are using DIMACS format for CNF clauses, they are represented by a natural number from 1 to the total number of cells. 

The axioms we need to provide are: 

1.   the variables corresponding to the cells with a visible number are false;
2.   for every cell with a visible number k, exactly k of the variables corresponding to the adjacent cells are true;
3.   exactly m of the variables are true, where m is the total number of mines specified by the game.

We encoded the cardinality constrains of point 2 in a very simple way: for every (visible) cell with number $k$ and set of covered adjacent cells $S$, with cardinality $n$, we built
\begin{equation} â‹€_{I âŠ‚ S, \ |I|=n-k+1}â‹_{(i,j) \in I} X_{ij} \quad \quad \quad \text{(at least k)}\end{equation}
and
\begin{equation} â‹€_{I âŠ‚ S, \ |I|=k+1}â‹_{(i,j) \in I} \neg X_{ij} \quad \quad \quad \text{(at most k)}\end{equation}

This was because in this case the number $n$ of adjacent cells is limited by $8$, so the total number of clauses does not grow too much. (Indeed, the maximum number of clauses from a single exact cardinality constrain is $\binom{8}{5}+ \binom{8}{4}=126$.)

But the cardinality constrain of point 3 cannot be treated in the same way because it would need too many clauses. Therefore we used a cardinality encoder given in the *pysat* module (that reduces the number of needed clauses by introducing auxiliary variables). See [pysathq.github.io/docs/html/api/card.html](https://pysathq.github.io/docs/html/api/card.html) for the relative documentation.

In [ ]:
def variable_mine_at(n_cols, position):
  '''
  produce a different number for each cell, which will be used to represent a propositional variable saying "a mine is there".
  '''
  return 1 + position[0] * n_cols + position[1]

def proposition_exactly_k_neighboring_mines(board, position, k):
  '''
  given a position and the number k of adjacent mines, it encodes the proposition saying "there are exactly k mines among the adjacent cells"
  '''
  adj = board.adjacent_cells(position)
  n = len(adj)
  clauses=[]
  for I in combinations(adj, n-k+1):  # at least k
    clauses.append([variable_mine_at(board.n_cols, i) for i in I])
  for I in combinations(adj, k+1):  # at most k
    clauses.append([-variable_mine_at(board.n_cols, i) for i in I])
  return clauses

def proposition_total_number_of_mines(board):
  '''
  it encodes the proposition saying "there are exactly k mines among all cells, where k is the total number of mines specified by the game"
  '''
  available_positions = board.still_covered_cells()
  variables = [variable_mine_at(board.n_cols, pos) for pos in available_positions]
  n = board.n_rows * board.n_cols
  k = board.n_mines
  cnf = CardEnc.equals(variables, k, top_id=n) # top_id=n means that the cardinality encoder can produce auxiliary varibles starting from n+1
  return cnf.clauses

def generate_propositions(board, satsolver):
  '''
  it feeds the given satsolver with the formula specifying the total number of mines and, 
  if there are already revealed numbers on the board, also the formulas representing all the implied constrains.
  '''
  for row in range(board.n_rows):
    for col in range(board.n_cols):
      k = board.board[row,col]
      if k >=0:
        satsolver.add_clause([-variable_mine_at(board.n_cols, (row,col))])                      # point 1 of the discussion
        satsolver.append_formula(proposition_exactly_k_neighboring_mines(board, (row,col), k))  # point 2 of the discussion
  satsolver.append_formula(proposition_total_number_of_mines(board))                            # point 3 of the discussion

Now we can build functions that, given a position and a satsolver feeded with the axioms previously seen, tells us if the position is safe or not, and if it surely has a mine or not. The first is given by checking if the axioms plus the literal $X_{ij}$ (corresponding to the position) gives UNSAT: if it is the case, then it is valid *not* having a mine in that position, meaning that the position is safe and we can click on it confidently. The second is given by checking if the axioms plus the literal $\neg X_{ij}$ gives UNSAT: if it is the case, then it is valid having a mine in that position, meaning that we can confidently say that there is a mine there.

In [ ]:
def check_safe_position_at(board, position, satsolver): 
  ''' 
  return True if the satsolver can infer that there is no mine at the given position, False otherwise
  '''
  return not satsolver.solve(assumptions=[variable_mine_at(board.n_cols, position)]) 

def check_mine_at(board, position, satsolver): 
  ''' 
  return True if the satsolver can infer that there is surely a mine at the given position, False otherwise
  '''
  return not satsolver.solve(assumptions=[-variable_mine_at(board.n_cols, position)])

Before constructing the complete algorithm for solving the game, we need a way to handle the case in which we find no safe position, and we want to choose the most probable one, that is the one that allows for more models in which it is safe. We do that using model counting, but in the *pysat* module the only function allowing for that is one generating all models one by one. This is not very efficient, but it is enough for our purposes, thanks to a simple trick.

Our trick is to consider separately the covered cells adjacent to at least one cell with a visible number, which we will call "bounded cells", and the covered cells not adjacent to any cell with a visible number, which we will call "free cells". This is because the only constrain we have on the positions of the mines among the free cell is on the total cardinality, and, fixed that, any disposition is equally likely. This mean that assuming to have exactly $k$ mines among the $n$ free cells, the possible dispositions are simply $\binom{n}{k}$. Therefore, any model for the bounded cells leaving out exactly $k$ mines to be on the free cells gives rise to exactly  $\binom{n}{k}$ different general models. This reduces a lot the enumerations of models we need to perform. 

In the end, first we consider the number of models not having a mine on the first free cell (if there exists one). It should be clear from our discussion that this is equal to the number of models not having a mine on any other specific free cell, so that is why we consider just the first free cell. Again from the previous discussion it follows that such number of models is
\begin{equation} \sum_{k} \binom{n-1}{k} \#SAT_{\text{bounded cells}}(k) \end{equation}

where $n$ is the number of free cells, $\#SAT_{\text{bounded cells}}(k)$ is the number of models for the bounded cells leaving out exactly $k$ mines to be placed on the free cells, and the sum goes from $k=\max(0,\#mines-\#bounded cells)$ to $k=\min(n-1, \#mines)$.
Then, we cycle through the bounded cells, and for each one we compute in a similar way the number of models not having a mine in that position, which is
\begin{equation} \sum_{k} \binom{n}{k} \#SAT_{\text{bounded cells}}(k, position) \end{equation}
where again $n$ is the number of free cells, but now $\#SAT_{\text{bounded cells}}(k, position)$ is the number of models for the bounded cells leaving out exactly $k$ mines to be placed on the free cells and such that in *position* there is not a mine, and the sum goes from $k=\max(0,\#mines-\#bounded cells+1)$ to $k=\min(n, \#mines)$.


**Note**: the function *enum_models* that we are using is built in a way that in order not to find out again a model already found, it negates each model it finds, before looking for another. Therefore, since we do not want to exclude permanently those models from possible subsequent calls of the satsolver, we introduce a new auxiliary variable specific for each call of *enum_models*: each call will look for models in which the auxiliary variable is True, and when it is done the variable is forever set to False (and no more asked to be True).

**Note2**: I commented some code that computes the number of models by simple enumeration, without using our trick. I used it to check that the function calculated the right numbers of models, and you can de-comment and use it for the same purpose. Notice however that it would be highly inefficient to keep it and not use our trick.

In [ ]:
def count_models(satsolver, assumptions):
  '''
  count the number of models satisfying the given assumptions (and the axioms already given to the satsolver)
  '''
  return sum(1 for _ in satsolver.enum_models(assumptions=assumptions))

def most_probable_safe_position(board, satsolver):
  ''' 
  find a still covered position on the board giving the largest number of models not having a mine in that position
  '''
  
  top_id = satsolver.nof_vars()  # see the first note in the text above
  
  def assumption_exactly_k_mines_among_free_cells(k):
    '''
    generate the clauses saying that exactly k mines are placed on free cells
    it does so taking in consideration the first note in the text above, 
    and the fact that it is not important where we place the k mines among the free cells, since every model for the free cells is equally likely
    '''
    assumption = [variable_mine_at(board.n_cols, free_cells[i]) for i in range(k)] # at least k: WLOG we can take the first k free cells
    assumption += [-variable_mine_at(board.n_cols, free_cells[i+k]) for i in range(n_free_cells-k)] # at most k
    assumption += [-i for i in range(top_id+1, satsolver.nof_vars()+1)] + [satsolver.nof_vars()+1] # see the first note in the text above
    return assumption

  #def assumption_note():
  #  assumption = [-i for i in range(top_id+1, satsolver.nof_vars()+1)] + [satsolver.nof_vars()+1]
  #  return assumption

  bounded_cells, free_cells = board.still_covered_cells(separate_cells_with_an_uncovered_neighbor=True)
  n_bounded_cells = len(bounded_cells)
  n_free_cells = len(free_cells)
  counter_n_models = 0
  for n_mines_in_free_cells in range(max(0,board.n_mines-n_bounded_cells), min(n_free_cells-1, board.n_mines)+1): # notice that if n_free_cells=0, then it does not enter the cycle
    assumption = assumption_exactly_k_mines_among_free_cells(n_mines_in_free_cells)
    counter_n_models += count_models(satsolver, assumption) * binom(n_free_cells-1, n_mines_in_free_cells)
  #print("counter (first case)          :", counter_n_models)
  #print("total enumeration (first case):", count_models(satsolver, assumption_note()+[-variable_mine_at(board.n_cols, free_cells[0])]))
  if n_free_cells > 0: 
    maximum = counter_n_models
    best_option = free_cells[0]
  else:
    maximum = 0 
    best_option = None
  for position in bounded_cells:
    counter_n_models = 0
    for n_mines_in_free_cells in range(max(0,board.n_mines-n_bounded_cells+1), min(n_free_cells, board.n_mines)+1):
      assumption = assumption_exactly_k_mines_among_free_cells(n_mines_in_free_cells) + [-variable_mine_at(board.n_cols, position)]
      counter_n_models += count_models(satsolver, assumption) * binom(n_free_cells, n_mines_in_free_cells)
    #print("counter (second case)          :", counter_n_models)
    #print("total enumeration (second case):", count_models(satsolver, assumption_note()+[-variable_mine_at(board.n_cols, position)]))
    if counter_n_models > maximum:
      maximum = counter_n_models
      best_option = position
  satsolver.append_formula([[-i] for i in range(top_id+1, satsolver.nof_vars()+1)]) # see the first note in the text above
  return best_option

It is finally time to write a function that plays the game. First we cycle among bounded cells: if one is found safe, we reveal it and continue; if one is found to have a mine, we take note of it and continue. Then since running the satsolver is computationally expensive and all free cells are equally likely to be safe or to have a mine, we consider just the first one and do for it the same tests as before. 

If we find at least a safe position in all the cycle, then we restart it again, in order to see if the new information we have found out can be used to go on safely. If instead we find no safe position in a whole cycle, it means that we have to take a risk in order to continue (if we have not reached the end of the game). We then choose to reveal the cell which is more likely not to have a mine (see the discussion in the text above). Then we restart from the beginning again, until the end of the game.

Note that surely there could be a better way to stack the cells to be tested for safety in a way to minimize (heuristically) the number of calls to the satsolver (which is the most computationally expensive part, after model counting). It is just that for my purposes the efficiency is already okay.

In [ ]:
def play_game(board, verbosity=2, n_moves_before_showing_board=1):
  '''
  try to solve a game given as an object of the class Board, and returns True when it ends with a victory; False otherwise
  - use verbosity = 0 when you don't want any output at all
  - use verbosity = 1 when you just want to output what is going on, without displaying the board if it is not game over or victory
  - use verbosity = 2 when you want also to display the board after every n_moves_before_showing_board steps (default being 1, i.e. after each move)
  '''
  counter_for_showing_board = 1
  n_mines_found = 0
  solver = Minisat22()
  generate_propositions(board, solver)
  game_over_flag = False
  while not game_over_flag:
    safe_positions_found = 0
    bounded_cells, free_cells = board.still_covered_cells(separate_cells_with_an_uncovered_neighbor=True)
    if len(free_cells) > 0: 
      cells_to_try = bounded_cells + [free_cells[0]] # since free cells are all equally likely, we just need to check one 
    else:
      cells_to_try = bounded_cells
    for position in cells_to_try:
      if (board.board[position] == -1 and check_mine_at(board, position, solver)): 
        solver.add_clause([variable_mine_at(board.n_cols, position)]) # add clause saying we've found a mine
        board.board[position] = -2
        if verbosity > 0:
          print("Found mine in position {}".format(position))
          if (verbosity > 1 and counter_for_showing_board % n_moves_before_showing_board == 0):
            board.show()
        n_mines_found += 1
        counter_for_showing_board += 1
      if (board.board[position] == -1 and check_safe_position_at(board, position, solver)):  # if position safe, then ...
        n_adj_mines = board.reveal_position(position, verbosity) # ...reveal it
        assert n_adj_mines >= 0, "The program said it was an admissible safe position, but it was not :("
        solver.append_formula(proposition_exactly_k_neighboring_mines(board, position, n_adj_mines))
        solver.add_clause([-variable_mine_at(board.n_cols, position)])
        if (verbosity > 1 and counter_for_showing_board % n_moves_before_showing_board == 0):
            board.show()
        safe_positions_found += 1
        counter_for_showing_board += 1
    if safe_positions_found == 0 and n_mines_found == board.n_mines:
      if verbosity > 0:
        print("The program has won!")
        board.show(True)
      break
    elif safe_positions_found == 0:
      if verbosity > 0:
          print("I'm not sure. Let's hope.")
      position_to_try = most_probable_safe_position(board, solver)
      n_adj_mines = board.reveal_position(position_to_try, verbosity) # reveal most probable position
      if n_adj_mines < 0:
        game_over_flag = True
        if verbosity > 0:
          print("Game Over: the program has lost.")
      else:
        solver.append_formula(proposition_exactly_k_neighboring_mines(board, position_to_try, n_adj_mines))
        solver.add_clause([-variable_mine_at(board.n_cols, position_to_try)])
        if (verbosity > 1 and counter_for_showing_board % n_moves_before_showing_board == 0):
            board.show()
        counter_for_showing_board += 1
  solver.delete() # free up RAM
  return not game_over_flag

## Testing
Let's see an example!

In [ ]:
example = Board(9, 9, 10)
example.randomly_fill_in(0)
example.show(True)

   0 1 2  3  4 5  6  7  8
0                 ðŸ’£
1  ðŸ’£
2
3            ðŸ’£
4         ðŸ’£
5                 ðŸ’£
6                    ðŸ’£  ðŸ’£
7                    ðŸ’£
8                 ðŸ’£  ðŸ’£

In [ ]:
play_game(example, verbosity=2)

I'm not sure. Let's hope.
Revealed position (0, 0), which has 1 neighboring mines.

   0 1 2 3 4 5 6 7 8
0  1
1
2
3
4
5
6
7
8

I'm not sure. Let's hope.
Revealed position (0, 2), which has 0 neighboring mines.

   0 1  2 3 4 5 6 7 8
0  1    0
1
2
3
4
5
6
7
8

Revealed position (0, 1), which has 1 neighboring mines.

   0  1  2 3 4 5 6 7 8
0  1  1  0
1
2
3
4
5
6
7
8

Revealed position (0, 3), which has 0 neighboring mines.

   0  1  2  3 4 5 6 7 8
0  1  1  0  0
1
2
3
4
5
6
7
8

Found mine in position (1, 0)

   0  1  2  3 4 5 6 7 8
0  1  1  0  0
1  ðŸš©
2
3
4
5
6
7
8

Revealed position (1, 1), which has 1 neighboring mines.

   0  1  2  3 4 5 6 7 8
0  1  1  0  0
1  ðŸš©  1
2
3
4
5
6
7
8

Revealed position (1, 2), which has 0 neighboring mines.

   0  1  2  3 4 5 6 7 8
0  1  1  0  0
1  ðŸš©  1  0
2
3
4
5
6
7
8

Revealed position (1, 3), which has 0 neighboring mines.

   0  1  2  3 4 5 6 7 8
0  1  1  0  0
1  ðŸš©  1  0  0
2
3
4
5
6
7
8

Revealed position (0, 4), which has 0 neighboring mines.

   0  1  2  3  4 5 6 7 8
0  1  1  0  0  0
1  ðŸš©  1  0  0
2
3
4
5
6
7
8

Revealed position (0, 5), which has 1 neighboring mines.

   0  1  2  3  4  5 6 7 8
0  1  1  0  0  0  1
1  ðŸš©  1  0  0
2
3
4
5
6
7
8

Revealed position (1, 4), which has 0 neighboring mines.

   0  1  2  3  4  5 6 7 8
0  1  1  0  0  0  1
1  ðŸš©  1  0  0  0
2
3
4
5
6
7
8

Revealed position (1, 5), which has 1 neighboring mines.

   0  1  2  3  4  5 6 7 8
0  1  1  0  0  0  1
1  ðŸš©  1  0  0  0  1
2
3
4
5
6
7
8

Revealed position (2, 0), which has 1 neighboring mines.

   0  1  2  3  4  5 6 7 8
0  1  1  0  0  0  1
1  ðŸš©  1  0  0  0  1
2  1
3
4
5
6
7
8

Revealed position (2, 1), which has 1 neighboring mines.

   0  1  2  3  4  5 6 7 8
0  1  1  0  0  0  1
1  ðŸš©  1  0  0  0  1
2  1  1
3
4
5
6
7
8

Revealed position (2, 2), which has 0 neighboring mines.

   0  1  2  3  4  5 6 7 8
0  1  1  0  0  0  1
1  ðŸš©  1  0  0  0  1
2  1  1  0
3
4
5
6
7
8

Revealed position (2, 3), which has 1 neighboring mines.

   0  1  2  3  4  5 6 7 8
0  1  1  0  0  0  1
1  ðŸš©  1  0  0  0  1
2  1  1  0  1
3
4
5
6
7
8

Revealed position (2, 4), which has 1 neighboring mines.

   0  1  2  3  4  5 6 7 8
0  1  1  0  0  0  1
1  ðŸš©  1  0  0  0  1
2  1  1  0  1  1
3
4
5
6
7
8

Revealed position (2, 5), which has 1 neighboring mines.

   0  1  2  3  4  5 6 7 8
0  1  1  0  0  0  1
1  ðŸš©  1  0  0  0  1
2  1  1  0  1  1  1
3
4
5
6
7
8

Revealed position (2, 6), which has 0 neighboring mines.

   0  1  2  3  4  5  6 7 8
0  1  1  0  0  0  1
1  ðŸš©  1  0  0  0  1
2  1  1  0  1  1  1  0
3
4
5
6
7
8

Revealed position (3, 0), which has 0 neighboring mines.

   0  1  2  3  4  5  6 7 8
0  1  1  0  0  0  1
1  ðŸš©  1  0  0  0  1
2  1  1  0  1  1  1  0
3  0
4
5
6
7
8

Revealed position (3, 1), which has 0 neighboring mines.

   0  1  2  3  4  5  6 7 8
0  1  1  0  0  0  1
1  ðŸš©  1  0  0  0  1
2  1  1  0  1  1  1  0
3  0  0
4
5
6
7
8

Revealed position (3, 2), which has 1 neighboring mines.

   0  1  2  3  4  5  6 7 8
0  1  1  0  0  0  1
1  ðŸš©  1  0  0  0  1
2  1  1  0  1  1  1  0
3  0  0  1
4
5
6
7
8

Revealed position (3, 3), which has 2 neighboring mines.

   0  1  2  3  4  5  6 7 8
0  1  1  0  0  0  1
1  ðŸš©  1  0  0  0  1
2  1  1  0  1  1  1  0
3  0  0  1  2
4
5
6
7
8

Found mine in position (3, 4)

   0  1  2  3  4  5  6 7 8
0  1  1  0  0  0  1
1  ðŸš©  1  0  0  0  1
2  1  1  0  1  1  1  0
3  0  0  1  2  ðŸš©
4
5
6
7
8

Revealed position (3, 5), which has 1 neighboring mines.

   0  1  2  3  4  5  6 7 8
0  1  1  0  0  0  1
1  ðŸš©  1  0  0  0  1
2  1  1  0  1  1  1  0
3  0  0  1  2  ðŸš©  1
4
5
6
7
8

Found mine in position (0, 6)

   0  1  2  3  4  5  6 7 8
0  1  1  0  0  0  1  ðŸš©
1  ðŸš©  1  0  0  0  1
2  1  1  0  1  1  1  0
3  0  0  1  2  ðŸš©  1
4
5
6
7
8

Revealed position (1, 6), which has 1 neighboring mines.

   0  1  2  3  4  5  6 7 8
0  1  1  0  0  0  1  ðŸš©
1  ðŸš©  1  0  0  0  1  1
2  1  1  0  1  1  1  0
3  0  0  1  2  ðŸš©  1
4
5
6
7
8

Revealed position (1, 7), which has 1 neighboring mines.

   0  1  2  3  4  5  6  7 8
0  1  1  0  0  0  1  ðŸš©
1  ðŸš©  1  0  0  0  1  1  1
2  1  1  0  1  1  1  0
3  0  0  1  2  ðŸš©  1
4
5
6
7
8

Revealed position (2, 7), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7 8
0  1  1  0  0  0  1  ðŸš©
1  ðŸš©  1  0  0  0  1  1  1
2  1  1  0  1  1  1  0  0
3  0  0  1  2  ðŸš©  1
4
5
6
7
8

Revealed position (3, 6), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7 8
0  1  1  0  0  0  1  ðŸš©
1  ðŸš©  1  0  0  0  1  1  1
2  1  1  0  1  1  1  0  0
3  0  0  1  2  ðŸš©  1  0
4
5
6
7
8

Revealed position (3, 7), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7 8
0  1  1  0  0  0  1  ðŸš©
1  ðŸš©  1  0  0  0  1  1  1
2  1  1  0  1  1  1  0  0
3  0  0  1  2  ðŸš©  1  0  0
4
5
6
7
8

Revealed position (4, 0), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7 8
0  1  1  0  0  0  1  ðŸš©
1  ðŸš©  1  0  0  0  1  1  1
2  1  1  0  1  1  1  0  0
3  0  0  1  2  ðŸš©  1  0  0
4  0
5
6
7
8

Revealed position (4, 1), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7 8
0  1  1  0  0  0  1  ðŸš©
1  ðŸš©  1  0  0  0  1  1  1
2  1  1  0  1  1  1  0  0
3  0  0  1  2  ðŸš©  1  0  0
4  0  0
5
6
7
8

Revealed position (4, 2), which has 1 neighboring mines.

   0  1  2  3  4  5  6  7 8
0  1  1  0  0  0  1  ðŸš©
1  ðŸš©  1  0  0  0  1  1  1
2  1  1  0  1  1  1  0  0
3  0  0  1  2  ðŸš©  1  0  0
4  0  0  1
5
6
7
8

Found mine in position (4, 3)

   0  1  2  3  4  5  6  7 8
0  1  1  0  0  0  1  ðŸš©
1  ðŸš©  1  0  0  0  1  1  1
2  1  1  0  1  1  1  0  0
3  0  0  1  2  ðŸš©  1  0  0
4  0  0  1  ðŸš©
5
6
7
8

Revealed position (4, 4), which has 2 neighboring mines.

   0  1  2  3  4  5  6  7 8
0  1  1  0  0  0  1  ðŸš©
1  ðŸš©  1  0  0  0  1  1  1
2  1  1  0  1  1  1  0  0
3  0  0  1  2  ðŸš©  1  0  0
4  0  0  1  ðŸš©  2
5
6
7
8

Revealed position (4, 5), which has 2 neighboring mines.

   0  1  2  3  4  5  6  7 8
0  1  1  0  0  0  1  ðŸš©
1  ðŸš©  1  0  0  0  1  1  1
2  1  1  0  1  1  1  0  0
3  0  0  1  2  ðŸš©  1  0  0
4  0  0  1  ðŸš©  2  2
5
6
7
8

Revealed position (4, 6), which has 1 neighboring mines.

   0  1  2  3  4  5  6  7 8
0  1  1  0  0  0  1  ðŸš©
1  ðŸš©  1  0  0  0  1  1  1
2  1  1  0  1  1  1  0  0
3  0  0  1  2  ðŸš©  1  0  0
4  0  0  1  ðŸš©  2  2  1
5
6
7
8

Revealed position (0, 7), which has 1 neighboring mines.

   0  1  2  3  4  5  6  7 8
0  1  1  0  0  0  1  ðŸš©  1
1  ðŸš©  1  0  0  0  1  1  1
2  1  1  0  1  1  1  0  0
3  0  0  1  2  ðŸš©  1  0  0
4  0  0  1  ðŸš©  2  2  1
5
6
7
8

Revealed position (0, 8), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1
2  1  1  0  1  1  1  0  0
3  0  0  1  2  ðŸš©  1  0  0
4  0  0  1  ðŸš©  2  2  1
5
6
7
8

Revealed position (1, 8), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0
3  0  0  1  2  ðŸš©  1  0  0
4  0  0  1  ðŸš©  2  2  1
5
6
7
8

Revealed position (2, 8), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0
4  0  0  1  ðŸš©  2  2  1
5
6
7
8

Revealed position (3, 8), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1
5
6
7
8

Revealed position (4, 7), which has 1 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1
5
6
7
8

Revealed position (4, 8), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5
6
7
8

Revealed position (5, 0), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0
6
7
8

Revealed position (5, 1), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0
6
7
8

Revealed position (5, 2), which has 1 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1
6
7
8

Revealed position (5, 3), which has 1 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1
6
7
8

Revealed position (5, 4), which has 1 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1
6
7
8

Revealed position (5, 5), which has 1 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1
6
7
8

Found mine in position (5, 6)

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©
6
7
8

Revealed position (5, 7), which has 3 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3
6
7
8

Revealed position (5, 8), which has 2 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6
7
8

Revealed position (6, 0), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0
7
8

Revealed position (6, 1), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0
7
8

Revealed position (6, 2), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0
7
8

Revealed position (6, 3), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0
7
8

Revealed position (6, 4), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0  0
7
8

Revealed position (6, 5), which has 1 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0  0  1
7
8

Revealed position (6, 6), which has 3 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0  0  1  3
7
8

Found mine in position (6, 7)

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0  0  1  3  ðŸš©
7
8

Found mine in position (6, 8)

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0  0  1  3  ðŸš©  ðŸš©
7
8

Revealed position (7, 0), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0  0  1  3  ðŸš©  ðŸš©
7  0
8

Revealed position (7, 1), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0  0  1  3  ðŸš©  ðŸš©
7  0  0
8

Revealed position (7, 2), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0  0  1  3  ðŸš©  ðŸš©
7  0  0  0
8

Revealed position (7, 3), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0  0  1  3  ðŸš©  ðŸš©
7  0  0  0  0
8

Revealed position (7, 4), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0  0  1  3  ðŸš©  ðŸš©
7  0  0  0  0  0
8

Revealed position (7, 5), which has 1 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0  0  1  3  ðŸš©  ðŸš©
7  0  0  0  0  0  1
8

Revealed position (7, 6), which has 4 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0  0  1  3  ðŸš©  ðŸš©
7  0  0  0  0  0  1  4
8

Found mine in position (7, 7)

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0  0  1  3  ðŸš©  ðŸš©
7  0  0  0  0  0  1  4  ðŸš©
8

Revealed position (8, 0), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0  0  1  3  ðŸš©  ðŸš©
7  0  0  0  0  0  1  4  ðŸš©
8  0

Revealed position (8, 1), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0  0  1  3  ðŸš©  ðŸš©
7  0  0  0  0  0  1  4  ðŸš©
8  0  0

Revealed position (7, 8), which has 4 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0  0  1  3  ðŸš©  ðŸš©
7  0  0  0  0  0  1  4  ðŸš©  4
8  0  0

Revealed position (8, 2), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0  0  1  3  ðŸš©  ðŸš©
7  0  0  0  0  0  1  4  ðŸš©  4
8  0  0  0

Revealed position (8, 3), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0  0  1  3  ðŸš©  ðŸš©
7  0  0  0  0  0  1  4  ðŸš©  4
8  0  0  0  0

Revealed position (8, 4), which has 0 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0  0  1  3  ðŸš©  ðŸš©
7  0  0  0  0  0  1  4  ðŸš©  4
8  0  0  0  0  0

Revealed position (8, 5), which has 1 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0  0  1  3  ðŸš©  ðŸš©
7  0  0  0  0  0  1  4  ðŸš©  4
8  0  0  0  0  0  1

Found mine in position (8, 6)

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0  0  1  3  ðŸš©  ðŸš©
7  0  0  0  0  0  1  4  ðŸš©  4
8  0  0  0  0  0  1  ðŸš©

Found mine in position (8, 7)

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0  0  1  3  ðŸš©  ðŸš©
7  0  0  0  0  0  1  4  ðŸš©  4
8  0  0  0  0  0  1  ðŸš©  ðŸš©

Revealed position (8, 8), which has 2 neighboring mines.

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸš©  1  0
1  ðŸš©  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸš©  1  0  0  0
4  0  0  1  ðŸš©  2  2  1  1  0
5  0  0  1  1  1  1  ðŸš©  3  2
6  0  0  0  0  0  1  3  ðŸš©  ðŸš©
7  0  0  0  0  0  1  4  ðŸš©  4
8  0  0  0  0  0  1  ðŸš©  ðŸš©  2

The program has won!

   0  1  2  3  4  5  6  7  8
0  1  1  0  0  0  1  ðŸ’£  1  0
1  ðŸ’£  1  0  0  0  1  1  1  0
2  1  1  0  1  1  1  0  0  0
3  0  0  1  2  ðŸ’£  1  0  0  0
4  0  0  1  ðŸ’£  2  2  1  1  0
5  0  0  1  1  1  1  ðŸ’£  3  2
6  0  0  0  0  0  1  3  ðŸ’£  ðŸ’£
7  0  0  0  0  0  1  4  ðŸ’£  4
8  0  0  0  0  0  1  ðŸ’£  ðŸ’£  2

True

The game on Microsoft Windows had three levels:
* Beginner: 9x9 with 10 mines
* Intermediate: 16x16 with 40 mines
* Expert: 16x30 with 99 mines

Let's see how our program behaves on them. 

First, we need a function to compute the percentage of games won and the average and maximum time.

In [ ]:
def statistics(sample_size, n_rows, n_cols, n_mines):
  '''
  tries a specified number of games of specified dimensions and number of mines, and print:
    - percentage of games won
    - average time x winning
    - maximum time for trying a single game
  '''
  n_games_won = 0
  total_time_on_games_won = 0
  max_time = 0
  for i in range(sample_size):
    new_board = Board(n_rows, n_cols, n_mines)
    start_time = process_time()
    win = play_game(new_board, verbosity=0)
    end_time = process_time()
    if win:
      n_games_won += 1
      total_time_on_games_won += end_time - start_time
    if (end_time - start_time > max_time):
      max_time = end_time - start_time
  average_winning_time = total_time_on_games_won / n_games_won
  print("Trying {} games with {}x{} board and {} mines".format(sample_size, n_rows, n_cols, n_mines))
  print("percentage of games won: {}%".format(100*n_games_won/sample_size))
  print("average time when winning a game: {:.3f}s".format(average_winning_time))
  print("maximum time required by a single game: {:.3f}s".format(max_time))

In [ ]:
# Beginner
statistics(100, 9,9,10)

Trying 100 games with 9x9 board and 10 mines
percentage of games won: 77.0%
average time when winning a game: 0.119s
maximum time required by a single game: 0.342s

In [ ]:
# Intermediate
statistics(100, 16,16,40)

Trying 100 games with 16x16 board and 40 mines
percentage of games won: 54.0%
average time when winning a game: 2.793s
maximum time required by a single game: 46.940s

In [ ]:
# Expert
statistics(10, 16,30,99)

Trying 10 games with 16x30 board and 99 mines
percentage of games won: 10.0%
average time when winning a game: 736.477s
maximum time required by a single game: 736.477s

Other possible tests:

In [ ]:
statistics(100, 10,10,5)

Trying 100 games with 10x10 board and 5 mines
percentage of games won: 96.0%
average time when winning a game: 0.048s
maximum time required by a single game: 0.167s

In [ ]:
statistics(50, 10,10,20)

Trying 50 games with 10x10 board and 20 mines
percentage of games won: 36.0%
average time when winning a game: 0.945s
maximum time required by a single game: 24.930s

In [ ]:
statistics(50, 20,20,20)

Trying 50 games with 20x20 board and 20 mines
percentage of games won: 96.0%
average time when winning a game: 1.313s
maximum time required by a single game: 2.174s

In [ ]:
statistics(20, 20,20,30)

Trying 20 games with 20x20 board and 30 mines
percentage of games won: 100.0%
average time when winning a game: 2.079s
maximum time required by a single game: 5.081s

In [ ]:
statistics(20, 30,30,40)

Trying 20 games with 30x30 board and 40 mines
percentage of games won: 100.0%
average time when winning a game: 11.223s
maximum time required by a single game: 20.721s